.add_task_wrapper {
    box-sizing: border-box;

    width: 595px;
    height: 577px;
    margin: 8% auto auto;

    background: #FFFFFF;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_wrapper{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    margin-top: 5px;
    margin-bottom: 60px;

    place-items: center;

    font-family: 'Open Sans', sans-serif;
}

.form_wrapper select{
    width: 490px;
    height: 48px;
}