.home_page{
    height: 700px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

* {
    font-family: 'Open Sans', sans-serif;
}