.todo_page{
    height: 700px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.small_el_wrapper{
    width: 420px;
    height: 85px;

    background: #F8CBA6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


    display: flex;
    justify-content: center;
    align-items: center;

    gap:15px
}

.big_el_wrapper{
    width: 420px;
    height: 85px;

    background: #F8CBA6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.todo_manipulation{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 30px;
    margin-top: 50px;
}

.todo_manipulation > * {
    width: 490px;
    height: 67px;

    background: #4AA596;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;

    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
}

#edit_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration:none;
    font-size: 25px;
}